@import './mixins.scss';

/* FLEX */
.flex {
    display: flex;
}

.flex\: {
    &col {
        flex-direction: column;

        &-reverse {
            flex-direction: column-reverse;
        }
    }

    &row {
        flex-direction: row;

        &-reverse {
            flex-direction: row-reverse;
        }
    }

    &wrap {
        flex-wrap: wrap;

        &-100 {
            flex-wrap: wrap;
            flex: 1 1 100px;
        }

        &-200 {
            flex-wrap: wrap;
            flex: 1 1 200px;
        }

        &-300 {
            flex-wrap: wrap;
            flex: 1 1 300px;
        }

        &-400 {
            flex-wrap: wrap;
            flex: 1 1 400px;
        }

        &-500 {
            flex-wrap: wrap;
            flex: 1 1 500px;
        }
    }
}

@include align-items(center);
@include align-items(flex-start);
@include align-items(flex-end);
@include align-items(baseline);


@include justify-content(center);
@include justify-content(flex-start);
@include justify-content(flex-end);
@include justify-content(space-around);
@include justify-content(space-evenly);
@include justify-content(space-between);
